# Assignment: Ionosphere Data Problem
## Dataset Description:
This radar data was collected by a system in Goose Bay, Labrador. This system consists of a phased array of 16 high-frequency antennas with a total transmitted power on the order of 6.4 kilowatts. See the paper for more details. The targets were free electrons in the ionosphere. "Good" radar returns are those showing evidence of some type of structure in the ionosphere. "Bad" returns are those that do not; their signals pass through the ionosphere.

Received signals were processed using an autocorrelation function whose arguments are the time of a pulse and the pulse number. There were 17 pulse numbers for the Goose Bay system. Instances in this databse are described by 2 attributes per pulse number, corresponding to the complex values returned by the function resulting from the complex electromagnetic signal.

Attribute Information:
All 34 are continuous
The 35th attribute is either "good" or "bad" according to the definition summarized above. This is a binary classification task.

# WORKFLOW :
## Load Data
Check Missing Values ( If Exist ; Fill each record with mean of its feature ) or any usless column.
Shuffle the data if needed.
Standardized the Input Variables. Hint: Centeralized the data
Split into 60 and 40 ratio.
Encode labels.
Model : 1 hidden layers including 16 unit.
Compilation Step (Note : Its a Binary problem , select loss , metrics according to it)
Train the Model with Epochs (100).
If the model gets overfit tune your model by changing the units , No. of layers , epochs , add dropout layer or add Regularizer according to the need .
Prediction should be > 92%
Evaluation Step
Prediction

In [3]:
import numpy as np
import pandas as pd


Load Data:
https://github.com/ramsha275/ML_Datasets/blob/main/ionosphere_data.csv

In [4]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving ionosphere_data.csv to ionosphere_data (1).csv
User uploaded file "ionosphere_data.csv" with length 76038 bytes

In [6]:
df = pd.read_csv('ionosphere_data.csv')

In [7]:
df.head()

   feature1  feature2  feature3  ...  feature33  feature34  label
0         1         0   0.99539  ...    0.18641   -0.45300      g
1         1         0   1.00000  ...   -0.13738   -0.02447      b
2         1         0   1.00000  ...    0.56045   -0.38238      g
3         1         0   1.00000  ...   -0.32382    1.00000      b
4         1         0   1.00000  ...   -0.04608   -0.65697      g

[5 rows x 35 columns]

In [8]:
df.describe()

         feature1  feature2    feature3  ...   feature32   feature33   feature34
count  351.000000     351.0  351.000000  ...  351.000000  351.000000  351.000000
mean     0.891738       0.0    0.641342  ...   -0.003794    0.349364    0.014480
std      0.311155       0.0    0.497708  ...    0.513574    0.522663    0.468337
min      0.000000       0.0   -1.000000  ...   -1.000000   -1.000000   -1.000000
25%      1.000000       0.0    0.472135  ...   -0.242595    0.000000   -0.165350
50%      1.000000       0.0    0.871110  ...    0.000000    0.409560    0.000000
75%      1.000000       0.0    1.000000  ...    0.200120    0.813765    0.171660
max      1.000000       0.0    1.000000  ...    1.000000    1.000000    1.000000

[8 rows x 34 columns]

In [9]:
df.shape

(351, 35)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 35 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   feature1   351 non-null    int64
 1   feature2   351 non-null    int64
 2   feature3   351 non-null    float64
 3   feature4   351 non-null    float64
 4   feature5   351 non-null    float64
 5   feature6   351 non-null    float64
 6   feature7   351 non-null    float64
 7   feature8   351 non-null    float64
 8   feature9   351 non-null    float64
 9   feature10  351 non-null    float64
 10  feature11  351 non-null    float64
 11  feature12  351 non-null    float64
 12  feature13  351 non-null    float64
 13  feature14  351 non-null    float64
 14  feature15  351 non-null    float64
 15  feature16  351 non-null    float64
 16  feature17  351 non-null    float64
 17  feature18  351 non-null    float64
 18  feature19  351 non-null    float64
 19  feature20  351 non-null    float64
 20  feature21  351 non-null    float64
 21  feature22  351 non-null    float64
 22  feature23  351 non-null    float64
 23  feature24  351 non-null    float64
 24  feature25  351 non-null    float64
 25  feature26  351 non-null    float64
 26  feature27  351 non-null    float64
 27  feature28  351 non-null    float64
 28  feature29  351 non-null    float64
 29  feature30  351 non-null    float64
 30  feature31  351 non-null    float64
 31  feature32  351 non-null    float64
 32  feature33  351 non-null    float64
 33  feature34  351 non-null    float64
 34  label      351 non-null    object
dtypes: float64(32), int64(2), object(1)
memory usage: 96.1+ KB

In [13]:
df.isnull().sum()

feature1     0
feature2     0
feature3     0
feature4     0
feature5     0
feature6     0
feature7     0
feature8     0
feature9     0
feature10    0
feature11    0
feature12    0
feature13    0
feature14    0
feature15    0
feature16    0
feature17    0
feature18    0
feature19    0
feature20    0
feature21    0
feature22    0
feature23    0
feature24    0
feature25    0
feature26    0
feature27    0
feature28    0
feature29    0
feature30    0
feature31    0
feature32    0
feature33    0
feature34    0
label        0
dtype: int64

In [14]:
df.feature2

0      0
1      0
2      0
3      0
4      0
      ..
346    0
347    0
348    0
349    0
350    0
Name: feature2, Length: 351, dtype: int64

In [16]:

# feature2 has 0 values, it's useless for the data so will drop this
df.drop(columns='feature2', inplace=True)

In [17]:
df.label.value_counts()

g    225
b    126
Name: label, dtype: int64

In [18]:
# encode label column, b=1 and g=0
replace_values = {'label':{'g':0, 'b':1}}

In [19]:
df = df.replace(replace_values)

In [20]:
df = df.sample(frac=1)

In [21]:
df

     feature1  feature3  feature4  ...  feature33  feature34  label
10          1   1.00000   0.06655  ...    0.22995   -0.89158      0
78          1   1.00000   0.24168  ...   -0.81383    1.00000      0
204         0   0.00000   0.00000  ...    0.00000    0.00000      1
83          1   0.68198  -0.17314  ...   -0.04013    0.04586      1
26          1   1.00000  -0.08714  ...   -0.13341   -1.00000      0
..        ...       ...       ...  ...        ...        ...    ...
5           1   0.02337  -0.00592  ...   -0.00039    0.12011      1
133         1   0.34694   0.20408  ...   -0.26531   -0.24490      0
38          1   0.91241   0.04347  ...    0.65258    0.11447      0
142         1   1.00000  -0.05529  ...    1.00000   -0.65935      1
59          1   0.17188  -1.00000  ...    0.00000    0.00000      1

[351 rows x 34 columns]

In [23]:

y = df.label
x = df.drop(columns='label')

In [24]:
# split  data to train and test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size= 0.4 )

In [25]:

# Build  Model
from tensorflow.keras.models import Sequential
from tensorflow.keras import layers
from tensorflow.keras import regularizers

In [26]:
model = Sequential()
model.add(layers.Dense(16, activation='relu', kernel_regularizer = regularizers.l2(0.001),  input_shape=(x_train.shape[1],)))
model.add(layers.Dense(8, activation='relu' , kernel_regularizer = regularizers.l2(0.001)))
model.add(layers.Dense(4, activation='relu' , kernel_regularizer = regularizers.l2(0.001)))
model.add(layers.Dense(1, activation='sigmoid'))

In [27]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics='accuracy')

In [28]:

model.fit(x_train, y_train, epochs=100, batch_size=8)

Epoch 1/100
27/27 [==============================] - 1s 1ms/step - loss: 0.7212 - accuracy: 0.6263
Epoch 2/100
27/27 [==============================] - 0s 1ms/step - loss: 0.6624 - accuracy: 0.6241
Epoch 3/100
27/27 [==============================] - 0s 1ms/step - loss: 0.6428 - accuracy: 0.6095
Epoch 4/100
27/27 [==============================] - 0s 1ms/step - loss: 0.6205 - accuracy: 0.6117
Epoch 5/100
27/27 [==============================] - 0s 1ms/step - loss: 0.5819 - accuracy: 0.6219
Epoch 6/100
27/27 [==============================] - 0s 2ms/step - loss: 0.5007 - accuracy: 0.7108
Epoch 7/100
27/27 [==============================] - 0s 1ms/step - loss: 0.4827 - accuracy: 0.7432
Epoch 8/100
27/27 [==============================] - 0s 1ms/step - loss: 0.4667 - accuracy: 0.7786
Epoch 9/100
27/27 [==============================] - 0s 1ms/step - loss: 0.4299 - accuracy: 0.8505
Epoch 10/100
27/27 [==============================] - 0s 1ms/step - loss: 0.4357 - accuracy: 0.8178
Epoch 11/100
27/27 [==============================] - 0s 1ms/step - loss: 0.4246 - accuracy: 0.8689
Epoch 12/100
27/27 [==============================] - 0s 1ms/step - loss: 0.4164 - accuracy: 0.8730
Epoch 13/100
27/27 [==============================] - 0s 1ms/step - loss: 0.3836 - accuracy: 0.8486
Epoch 14/100
27/27 [==============================] - 0s 1ms/step - loss: 0.3106 - accuracy: 0.9293
Epoch 15/100
27/27 [==============================] - 0s 1ms/step - loss: 0.3604 - accuracy: 0.9066
Epoch 16/100
27/27 [==============================] - 0s 1ms/step - loss: 0.3354 - accuracy: 0.9204
Epoch 17/100
27/27 [==============================] - 0s 1ms/step - loss: 0.2964 - accuracy: 0.9771
Epoch 18/100
27/27 [==============================] - 0s 1ms/step - loss: 0.3236 - accuracy: 0.9490
Epoch 19/100
27/27 [==============================] - 0s 1ms/step - loss: 0.3413 - accuracy: 0.9170
Epoch 20/100
27/27 [==============================] - 0s 1ms/step - loss: 0.2765 - accuracy: 0.9578
Epoch 21/100
27/27 [==============================] - 0s 1ms/step - loss: 0.2575 - accuracy: 0.9673
Epoch 22/100
27/27 [==============================] - 0s 1ms/step - loss: 0.2548 - accuracy: 0.9630
Epoch 23/100
27/27 [==============================] - 0s 1ms/step - loss: 0.2362 - accuracy: 0.9639
Epoch 24/100
27/27 [==============================] - 0s 1ms/step - loss: 0.2613 - accuracy: 0.9650
Epoch 25/100
27/27 [==============================] - 0s 1ms/step - loss: 0.2498 - accuracy: 0.9507
Epoch 26/100
27/27 [==============================] - 0s 1ms/step - loss: 0.2059 - accuracy: 0.9705
Epoch 27/100
27/27 [==============================] - 0s 1ms/step - loss: 0.1983 - accuracy: 0.9833
Epoch 28/100
27/27 [==============================] - 0s 1ms/step - loss: 0.1891 - accuracy: 0.9857
Epoch 29/100
27/27 [==============================] - 0s 1ms/step - loss: 0.1700 - accuracy: 0.9808
Epoch 30/100
27/27 [==============================] - 0s 2ms/step - loss: 0.1782 - accuracy: 0.9765
Epoch 31/100
27/27 [==============================] - 0s 1ms/step - loss: 0.1561 - accuracy: 0.9784
Epoch 32/100
27/27 [==============================] - 0s 1ms/step - loss: 0.1299 - accuracy: 0.9837
Epoch 33/100
27/27 [==============================] - 0s 1ms/step - loss: 0.1162 - accuracy: 0.9874
Epoch 34/100
27/27 [==============================] - 0s 1ms/step - loss: 0.1296 - accuracy: 0.9864
Epoch 35/100
27/27 [==============================] - 0s 2ms/step - loss: 0.0973 - accuracy: 0.9950
Epoch 36/100
27/27 [==============================] - 0s 1ms/step - loss: 0.1159 - accuracy: 0.9791
Epoch 37/100
27/27 [==============================] - 0s 1ms/step - loss: 0.1066 - accuracy: 0.9938
Epoch 38/100
27/27 [==============================] - 0s 1ms/step - loss: 0.1115 - accuracy: 0.9926
Epoch 39/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0975 - accuracy: 0.9939
Epoch 40/100
27/27 [==============================] - 0s 1ms/step - loss: 0.1154 - accuracy: 0.9873
Epoch 41/100
27/27 [==============================] - 0s 1ms/step - loss: 0.1014 - accuracy: 0.9794
Epoch 42/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0847 - accuracy: 0.9995
Epoch 43/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0837 - accuracy: 0.9952
Epoch 44/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0768 - accuracy: 0.9989
Epoch 45/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0896 - accuracy: 0.9978
Epoch 46/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0801 - accuracy: 0.9966
Epoch 47/100
27/27 [==============================] - 0s 2ms/step - loss: 0.0855 - accuracy: 0.9959
Epoch 48/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0764 - accuracy: 0.9985
Epoch 49/100
27/27 [==============================] - 0s 1ms/step - loss: 0.1096 - accuracy: 0.9820
Epoch 50/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0860 - accuracy: 0.9963
Epoch 51/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0808 - accuracy: 0.9959
Epoch 52/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0967 - accuracy: 0.9906
Epoch 53/100
27/27 [==============================] - 0s 2ms/step - loss: 0.0635 - accuracy: 0.9991
Epoch 54/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0893 - accuracy: 0.9926
Epoch 55/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0679 - accuracy: 0.9975
Epoch 56/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0732 - accuracy: 0.9975
Epoch 57/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0681 - accuracy: 0.9991
Epoch 58/100
27/27 [==============================] - 0s 1ms/step - loss: 0.1000 - accuracy: 0.9869
Epoch 59/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0786 - accuracy: 0.9934
Epoch 60/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0767 - accuracy: 0.9946
Epoch 61/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0737 - accuracy: 0.9946
Epoch 62/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0630 - accuracy: 0.9991
Epoch 63/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0684 - accuracy: 0.9975
Epoch 64/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0778 - accuracy: 0.9934
Epoch 65/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0756 - accuracy: 0.9940
Epoch 66/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0663 - accuracy: 0.9978
Epoch 67/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0649 - accuracy: 0.9987
Epoch 68/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0629 - accuracy: 0.9981
Epoch 69/100
27/27 [==============================] - 0s 2ms/step - loss: 0.0670 - accuracy: 0.9966
Epoch 70/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0714 - accuracy: 0.9946
Epoch 71/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0868 - accuracy: 0.9869
Epoch 72/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0838 - accuracy: 0.9906
Epoch 73/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0643 - accuracy: 0.9966
Epoch 74/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0596 - accuracy: 0.9983
Epoch 75/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0842 - accuracy: 0.9869
Epoch 76/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0532 - accuracy: 0.9995
Epoch 77/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0618 - accuracy: 0.9989
Epoch 78/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0628 - accuracy: 0.9966
Epoch 79/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0713 - accuracy: 0.9906
Epoch 80/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0561 - accuracy: 0.9991
Epoch 81/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0653 - accuracy: 0.9955
Epoch 82/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0572 - accuracy: 0.9978
Epoch 83/100
27/27 [==============================] - 0s 2ms/step - loss: 0.0609 - accuracy: 0.9970
Epoch 84/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0543 - accuracy: 0.9985
Epoch 85/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0712 - accuracy: 0.9906
Epoch 86/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0635 - accuracy: 0.9963
Epoch 87/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0617 - accuracy: 0.9955
Epoch 88/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0551 - accuracy: 0.9991
Epoch 89/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0512 - accuracy: 0.9993
Epoch 90/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0528 - accuracy: 0.9993
Epoch 91/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0597 - accuracy: 0.9955
Epoch 92/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0692 - accuracy: 0.9926
Epoch 93/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0584 - accuracy: 0.9959
Epoch 94/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0574 - accuracy: 0.9959
Epoch 95/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0652 - accuracy: 0.9926
Epoch 96/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0521 - accuracy: 0.9991
Epoch 97/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0518 - accuracy: 0.9997
Epoch 98/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0757 - accuracy: 1.0000
Epoch 99/100
27/27 [==============================] - 0s 2ms/step - loss: 0.0594 - accuracy: 0.9991
Epoch 100/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0576 - accuracy: 0.9966

In [29]:
predict = model.predict(x_test)

In [30]:
model.evaluate(x_test, y_test)

5/5 [==============================] - 0s 2ms/step - loss: 0.4433 - accuracy: 0.8865

[0.443338543176651, 0.8865247964859009]

In [31]:
predict.shape

(141, 1)

In [32]:
predict=predict.reshape(141)

In [33]:
output = pd.DataFrame({'Actual': y_test})

In [34]:
output['prediction'] = predict

In [35]:
output.reset_index(inplace=True)

In [36]:
output

     index  Actual  prediction
0       37       1    0.977447
1       68       0    0.000014
2      174       1    0.002460
3      268       0    0.000295
4      110       1    0.998185
..     ...     ...         ...
136    251       0    0.000007
137    140       1    0.999846
138    145       0    0.099079
139    295       0    0.098160
140     48       0    0.003063

[141 rows x 3 columns]